{{!-- TODO: Add #each to create cards for up to 5 new posts --}}

<div class="card">
  <div class="card-header">
    <h4>Blog Article Title</h4>
    <p>By User on 12/12/1212</p>
  </div>
  <div class="card-body">
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Suscipit asperiores, alias exercitationem illo quo minima ratione nulla. 
      Rerum, voluptas fugiat.</p>
    <a href="#" class="btn btn-primary">Read More >></a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4>Blog Article Title</h4>
    <p>By User on 12/12/1212</p>
  </div>
  <div class="card-body">
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Suscipit asperiores, alias exercitationem illo quo minima ratione nulla. 
      Rerum, voluptas fugiat.</p>
    <a href="#" class="btn btn-primary">Read More >></a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4>Blog Article Title</h4>
    <p>By User on 12/12/1212</p>
  </div>
  <div class="card-body">
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Suscipit asperiores, alias exercitationem illo quo minima ratione nulla. 
      Rerum, voluptas fugiat.</p>
    <a href="#" class="btn btn-primary">Read More >></a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4>Reeeeeeally very super duper long sort of Blog Article Title</h4>
    <p>By User on 12/12/1212</p>
  </div>
  <div class="card-body">
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Suscipit asperiores, alias exercitationem illo quo minima ratione nulla. 
      Rerum, voluptas fugiat.</p>
    <a href="#" class="btn btn-primary">Read More >></a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4>Blog Article Title</h4>
    <p>By User on 12/12/1212</p>
  </div>
  <div class="card-body">
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Suscipit asperiores, alias exercitationem illo quo minima ratione nulla. 
      Rerum, voluptas fugiat.</p>
    <a href="#" class="btn btn-primary">Read More >></a>
  </div>
</div>