{{!-- TODO: Add #each to create cards for up to 5 new posts --}}

<div class="card">
  <h4 class="card-header">
    Blog Article Title
    By User on 12/12/1212
  </h4>
  <div class="card-body">
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Suscipit asperiores, alias exercitationem illo quo minima ratione nulla. 
      Rerum, voluptas fugiat.</p>
    <a href="#" class="btn btn-primary">Read More >></a>
  </div>
</div>